<%
// Expand using display_base, but settle for base if it's available
expands(['layouts/display_base', 'layouts/base']);

// Enable the svg webcomponent
WebComponent.load('svg');
WebComponent.load('panel');
WebComponent.load('switch');
WebComponent.load('button-group');

// Load the chimera script
script(['display/display', 'display/play_source', 'display/video_player', 'display/start']);

// Start the body block
start('body') %>
<div class="enclosure">
	<% assign('enclosure') %>
</div>
<% end('body') %>